@model test2.Models.GroupViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Добавить Команду</h2>
<hr>
<form class="form-horizontal" method="post" role="form" novalidate="novalidate">
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new {@class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new {@class = "form-control", placeholder="Команда 1" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Добавить">
        </div>
    </div>
</form>