@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
.net developers
</h2>

<hr>
<div class="container">
    <div class="col-md-3">
        <div class="thumbnail" style="background: greenyellow">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail" style="background: greenyellow">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3" style="background: greenyellow">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-12 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>.NET developer</i>
                </p>
                <p>
                    <b>Команда:</b> Команда 1
                </p>

            </div>
        </div>
    </div>

</div>

<div class="col-md-12">
    <hr />
    <a href="../Company/Company">
        <button type="button" class="btn btn-primary">
            Вернуться
        </button>
    </a>
</div>
