@model IEnumerable<test2.Models.PositionViewModel>

<div class="row">
    @if (Model != null)
    {
        foreach (var position in Model)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="../Position/Position" class="thumbnail">

                    <span class="col-md-12 glyphicon glyphicon-user recicon"></span>
                    <label class="col-md-12 text-center text-md"> @position.Name </label>
                    <p class="text-center text-sm">@position.UsersCount человек</p>
                </a>
            </div>
        }
    }


    <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="../Position/Create" class="col-md-12 thumbnail add-box">
            <span class="col-md-12 glyphicon glyphicon-plus recicon"></span>
            <label class="col-md-12 text-center text-big">Добавить Позицию</label>
        </a>
    </div>
</div>
<hr />