@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Облачное HR решение</h1>
    <p class="lead">инновационная система по поиску, адаптации и мотивации персонала в вашей компании</p>
    <p><a href="../Account/Register" class="btn btn-primary btn-large">Зарегистрироваться &raquo;</a></p>
</div>

