@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Мотив. Показатель');
        data.addRows([
          ['2015, январь', 5.3],
          ['2015, февраль', 10.2],
          ['2015, март', 10.6],
          ['2015, апрель', 7.8],
          ['2015, май', 8.1],
          ['2015, июнь', 2.1],
          ['2015, июль', 3.3],
          ['2015, август', 4.4],
          ['2015, сентябрь', 5.1],
          ['2015, октябрь', 3.1],
          ['2015, ноябрь', 6.7],
          ['2015, декабрь', 8.4],
          ['2016, январь', 2.2],
          ['2016, февраль', 1.0],
          ['2016, март', 3.3],
          ['2016, апрель', 4.4],
          ['2016, май', 5.1],
          ['2016, июнь', 2.1],
          ['2016, июль', 8.9],
          ['2016, август', 0.0],
        ]);

        // Set chart options
        var options = {'title':'Мотивационный граффик',
                       'width':960,
                       'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>

<h2>
    Сотрудник
</h2>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="user-photo">
                <span class="glyphicon glyphicon-user avatar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="user-info">
                <h4> Иванов Иван</h4>
                <h5> <i> 25 лет </i></h5>
                <hr />
                <h5> .NET - dev </h5>
                <h5> Group1 </h5>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-md-12 graph">
        <div id="chart_div"></div>
    </div>
</div>


