@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Ожидание прохождения тестов
</h2>
<hr>
<h4>Поиск сотрудников, этап 3. Ожидание прохождения тестов</h4>
<hr>

<span class="glyphicon glyphicon-time recicon text-success" aria-hidden="true">  15:12:50</span>

<hr>
<div class="container">
    <div class="col-md-3">
        <div class="thumbnail" style="background: greenyellow">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p><i>верстальщик</i></p>
                <p><b>Образование:</b> Высшее</p><p><b>Английский:</b> Свободный</p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail" style="background: greenyellow">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail" style="background: greenyellow">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked" />
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>


</div>

<div class="col-md-12">
    <hr />
    <a href="../Recruitment/Recruitment">
        <button type="button" class="btn btn-primary">
            Вернуться
        </button>
    </a>
</div>



