@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Заполните форму
</h2>
<hr>
<h4>Поиск сотрудников, этап 2. Отправка сообщений</h4>
<hr>
<form class="form-horizontal">
    <div class="container">
        <div class="col-md-6">
            <div class="input-group">
                <input type="checkbox" value="" />
                <label>   Тест 1</label>    
            </div>
            <div class="input-group">
                <input type="checkbox" value=""/>
                <label> Тест 2</label>
            </div>
            <div class="input-group">
                <input type="checkbox" value=""/>
                <label> Тест 3</label>
            </div>

            <div class="input-group">
                <label> Число дней</label><br/>
                <input type="number"/>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Текст сообщения</h3>
                </div>
                <div class="panel-body">
                    <textarea class="input-block-level big-input">Здравствуй дорогой %сотрудник%, большая компания ищет тебя. Пройти тесты по следующей ссылке %link%</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
            <a href="../Recruitment/FindWait">
                <button type="button" class="btn btn-primary">
                    Подтвердить
                </button>
            </a>
        </div>
    </div>
</form>