@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Заполните форму
</h2>
<hr>
<h4>Поиск сотрудников, этап 1. Фильтр из базы</h4>
<hr>
<form class="form-horizontal">
    <div class="container">
        <div class="col-md-6">
            <div class="form-group dropdown_template">
                <div class="col-md-3">
                    <p>Образование</p>
                </div>
                <div class="col-md-9">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Среднее
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Среднее</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Высшее</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Магистр</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Доктор наук</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group dropdown_template">
                <div class="col-md-3">
                    <p>Знание ПК</p>
                </div>
                <div class="col-md-9">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Уверенный пользователь
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Уверенный пользователь</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Умеет настроить локальную сеть</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Пользователь</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Умеет переустанавливать виндовс</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group dropdown_template">
                <div class="col-md-3">
                    <p>Опыт работы</p>
                </div>
                <div class="col-md-9">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            3-5 лет
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3-5 год</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1-3 год</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">0-1 год</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">нет опыта работа</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group dropdown_template">
                <div class="col-md-3">
                    <p>Знание английского</p>
                </div>
                <div class="col-md-9">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Свободный
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Свободный</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Уверенный</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Чтение тематической литературы</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">знание французского</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Введите ключевые навыки</h3>
                </div>
                <div class="panel-body">
                    <textarea class="input-block-level big-input"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
            <button type="button" id="loading-ok-btn" data-loading-text="Фильтруется..." class="btn btn-primary">
                Подобрать
            </button>
            <script>

        //$('.btn').button();

        $('#loading-ok-btn').click(function() {
            //alert(1);
            var btn = $(this);
            btn.button('loading');
            $.ajax(/*Function to filter and load peoples from DB goes here*/).always(function() {
                btn.button('reset');
            });
        });
            </script>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="col-md-3">
            <div class="thumbnail">
                <div class="col-md-4">
                    <input type="checkbox" checked="checked"/>
                </div>
                <div class="col-md-6 user-photo">
                    <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                </div>
                <div class="caption">
                    <h3>Иванов Иван</h3>
                    <p><i>верстальщик</i>
                    </p>
                    <p><b>Образование:</b> Высшее
                    </p>
                    <p><b>Английский:</b> Свободный
                    </p>
                    <p><b>Опыт:</b> Без опыта работа
                    </p>
                    <p><b>Знание ПК:</b> Умеет переустанавливать виндовс
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <div class="col-md-4">
                    <input type="checkbox" checked="checked"/>
                </div>
                <div class="col-md-6 user-photo">
                    <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                </div>
                <div class="caption">
                    <h3>Иванов Иван</h3>
                    <p>
                        <i>верстальщик</i>
                    </p>
                    <p>
                        <b>Образование:</b> Высшее
                    </p>
                    <p>
                        <b>Английский:</b> Свободный
                    </p>
                    <p>
                        <b>Опыт:</b> Без опыта работа
                    </p>
                    <p>
                        <b>Знание ПК:</b> Умеет переустанавливать виндовс
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <div class="col-md-4">
                    <input type="checkbox" checked="checked"/>
                </div>
                <div class="col-md-6 user-photo">
                    <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                </div>
                <div class="caption">
                    <h3>Иванов Иван</h3>
                    <p>
                        <i>верстальщик</i>
                    </p>
                    <p>
                        <b>Образование:</b> Высшее
                    </p>
                    <p>
                        <b>Английский:</b> Свободный
                    </p>
                    <p>
                        <b>Опыт:</b> Без опыта работа
                    </p>
                    <p>
                        <b>Знание ПК:</b> Умеет переустанавливать виндовс
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <div class="col-md-4">
                    <input type="checkbox" checked="checked"/>
                </div>
                <div class="col-md-6 user-photo">
                    <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                </div>
                <div class="caption">
                    <h3>Иванов Иван</h3>
                    <p>
                        <i>верстальщик</i>
                    </p>
                    <p>
                        <b>Образование:</b> Высшее
                    </p>
                    <p>
                        <b>Английский:</b> Свободный
                    </p>
                    <p>
                        <b>Опыт:</b> Без опыта работа
                    </p>
                    <p>
                        <b>Знание ПК:</b> Умеет переустанавливать виндовс
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <div class="col-md-4">
                    <input type="checkbox" checked="checked"/>
                </div>
                <div class="col-md-6 user-photo">
                    <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                </div>
                <div class="caption">
                    <h3>Иванов Иван</h3>
                    <p>
                        <i>верстальщик</i>
                    </p>
                    <p>
                        <b>Образование:</b> Высшее
                    </p>
                    <p>
                        <b>Английский:</b> Свободный
                    </p>
                    <p>
                        <b>Опыт:</b> Без опыта работа
                    </p>
                    <p>
                        <b>Знание ПК:</b> Умеет переустанавливать виндовс
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <div class="col-md-4">
                    <input type="checkbox" checked="checked"/>
                </div>
                <div class="col-md-6 user-photo">
                    <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                </div>
                <div class="caption">
                    <h3>Иванов Иван</h3>
                    <p>
                        <i>верстальщик</i>
                    </p>
                    <p>
                        <b>Образование:</b> Высшее
                    </p>
                    <p>
                        <b>Английский:</b> Свободный
                    </p>
                    <p>
                        <b>Опыт:</b> Без опыта работа
                    </p>
                    <p>
                        <b>Знание ПК:</b> Умеет переустанавливать виндовс
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <div class="col-md-4">
                    <input type="checkbox" checked="checked"/>
                </div>
                <div class="col-md-6 user-photo">
                    <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                </div>
                <div class="caption">
                    <h3>Иванов Иван</h3>
                    <p>
                        <i>верстальщик</i>
                    </p>
                    <p>
                        <b>Образование:</b> Высшее
                    </p>
                    <p>
                        <b>Английский:</b> Свободный
                    </p>
                    <p>
                        <b>Опыт:</b> Без опыта работа
                    </p>
                    <p>
                        <b>Знание ПК:</b> Умеет переустанавливать виндовс
                    </p>
                </div>
            </div>
        </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked"/>
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="col-md-4">
                <input type="checkbox" checked="checked"/>
            </div>
            <div class="col-md-6 user-photo">
                <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Иванов Иван</h3>
                <p>
                    <i>верстальщик</i>
                </p>
                <p>
                    <b>Образование:</b> Высшее
                </p>
                <p>
                    <b>Английский:</b> Свободный
                </p>
                <p>
                    <b>Опыт:</b> Без опыта работа
                </p>
                <p>
                    <b>Знание ПК:</b> Умеет переустанавливать виндовс
                </p>
            </div>
        </div>
    </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <div class="col-md-4">
                    <input type="checkbox" checked="checked" />
                </div>
                <div class="col-md-6 user-photo">
                    <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                </div>
                <div class="caption">
                    <h3>Иванов Иван</h3>
                    <p>
                        <i>верстальщик</i>
                    </p>
                    <p>
                        <b>Образование:</b> Высшее
                    </p>
                    <p>
                        <b>Английский:</b> Свободный
                    </p>
                    <p>
                        <b>Опыт:</b> Без опыта работа
                    </p>
                    <p>
                        <b>Знание ПК:</b> Умеет переустанавливать виндовс
                    </p>
                </div>
            </div>
        </div>


    </div>
   
    <div class="col-md-12">
        <hr />
        <a href="../Recruitment/FindSend">
            <button type="button" class="btn btn-primary">
                Подтвердить
            </button>
        </a>
    </div>




</form>
