@{
    ViewBag.Title = "Рекрутмент";
}

<h2>Рекрутмент</h2>
<h4>Активные вакансии</h4>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <hr/>
            <span class="glyphicon glyphicon-time recicon text-success" aria-hidden="true">  15:12:50</span>
            <div class="caption">
                <h3>.NET Разработчик</h3>
                <p>Ожидание ответов на тесты</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Подробнее</a>
                    <a href="#" class="btn btn-default" role="button">Отменить</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <hr/>
            <span class="glyphicon glyphicon-time recicon text-danger" aria-hidden="true">  00:00:00</span>
            <div class="caption">
                <h3>Верстальщик</h3>
                <p>Заполнение данных</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Подробнее</a>
                    <a href="#" class="btn btn-default" role="button">Отменить</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <hr/>
            <span class="glyphicon glyphicon-time recicon text-warning" aria-hidden="true">  01:12:50</span>
            <div class="caption">
                <h3>Дизайнер</h3>
                <p>Проходят собеседование</p>
                <p>
                    <a href="#" class="btn btn-primary " role="button">Подробнее</a>
                    <a href="#" class="btn btn-default" role="button">Отменить</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="../Recruitment/FindApplication" class="thumbnail">
            <hr/>
            <div class="col-md-12">
                <span class="glyphicon glyphicon-plus recicon" aria-hidden="true"></span>
            </div>
            <div class="caption">
                <h3>Добавить новую вакансию</h3>
            </div>
        </a>

    </div>
</div>


