<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=tcp:f9twfcsk4p.database.windows.net,1433;
                                          initial catalog=hrservice_db;
                                          persist security info=True;
                                          user id=sprodan@f9twfcsk4p;
                                          password=rllwx4Z@;
                                          MultipleActiveResultSets=True;
                                          App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>